<div class="comment">
  <div class="user-name">
    <%= User.where(id: portfolio_comment.user_id).take.name %>
  </div>
  <p>
    <%= portfolio_comment.comment %>
  </p>
  <% if User.where(id: portfolio_comment.user_id).take.id == current_user.id %>
    <%= link_to "Delete", portfolio_portfolio_comment_path(@portfolio, portfolio_comment),
    method: :put, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <p class="time-ago">
    About <%= time_ago_in_words(portfolio_comment.created_at) %> ago.
  </p>
</div>
