<h1>Decidea</h1>
<p>Hi <%= @user.name %>,</p>

<p>
  You recently registered for Decidea. Confirm your email address to complete your Decidea account. It's easy — just click the button below.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
