<% provide(:title, "Edit Profile") %>
<div class="row">
  <h1>Your profile</h1>
  <div class="col-md-5 col-md-offset-2" id="setting_container">
    <%= render 'edit_profile' %>
  </div>
  <div class="setting-menu-divider col-md-1">
  </div>
  <div class="col-md-2">
    <ul class="nav nav-bar">
      <li><%= link_to "Profile", users_profile_setting_path, :remote => true %></li>
      <li><%= link_to "Password", users_password_setting_path, :remote => true %></li>
    </ul>
  </div>
</div>
