<%= form_for ([@job_post, @job_post.job_post_comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :comment, placeholder: "Comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
