<% if @portfolios.any? %>
  <ol class="microposts">
    <% @portfolios.each do |portfolio| %>
      <li>
        <%= portfolio.name %>
        <%= portfolio.description %>
        <% unless portfolio.pictures.first.nil? %>
          <%= link_to (image_tag portfolio.pictures.first.picture), portfolio_picture_path(portfolio, portfolio.pictures.first) %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
