<% @user ||= current_user %>
<div class="stats">
  <%= Portfolio.where(user_id: @user.id).count %>
    posts
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
