@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$yellow: #ffe036;
$black: #181818;
$gray1: #383838;
$gray2: #484848;
$greyish-white: #f9f9f9;
$white: #ffffff;
$garis-kuning: #ffe036;
$bluish-gray: #f9f9f9;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* testing color */
.test1 {
  background-color: red;
}

.test2 {
  background-color: blue;
}

.test3 {
  background-color: green;
}

.test4 {
  background-color: yellow;
}

.test5 {
  background-color: cyan;
}

.row {
  display: flex; /* equal height of the children */
}
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.search-bar {
  width: 40%;
  margin: auto;
}

.search-img {
width: 20px;
height: 20px;
border-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* background color */

.bg-greyish-white {
  background-color: $greyish-white;
}

.bg-white {
  background-color: white;
}

/* header */

#logo {
  float: left;
  color: $greyish-white;
  letter-spacing: -1px;
  &:hover {
    color: white;
    text-decoration: none;
  }
  img {
    margin-top: 5%;
  }
}

header {
  background-color: $black;



  #search-bar {
    margin: 10px;
  }
  #category {

    ul {
      align: center;
      background-color: white;
      li {
        color: red;
        margin-right: 10px;
      }
    }
  }
}

#background-img {
  img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    width: 1450px;
    height: auto;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
  #block {
    background: $greyish-white;
    margin: auto;
    box-shadow: 0px 0px 30px 1px $gray-medium-light;
    /* Set up proportionate scaling */
    width: 500px;
    height: 250px;

    /* Set up positioning */
    position: relative;
    top: 0px;
    left: 0;
    #inside-block {
      height: inherit;
      padding: 20%;
    }
  }
}



/* footer */

footer {
  position: absolute;
  width: 100%;
  background-color: $black;
  padding: 15px;
  #follow_decidea {
    // font-size: 14px;
  }
  #logo_footer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  #copyrights {
    // padding-left: 18px;
    margin-top: 15px;
  }
  #share_button {
    // margin-left: -15px;
  }
  img {
    // margin-left: 15px;
    // margin-top: 10px;
  }
  p {
    color: $white;
    // margin-bottom: 1px;
  }
  a {
    color: $white;
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
  ul {

    // margin-top: 70px;
    list-style: none;
    // margin-left: -80px;
    li {
      float: left;
      margin-top: 10px;
      margin-right: 20px;
      // margin-bottom: 10px;
    }
  }
}


  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  margin-bottom: 30px;
}

input[placeholder] {
  border: 1px solid $gray-lighter;
  font-weight: 200;
  border-radius: 5px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
  background-color: $greyish-white;
  border-style: solid;
  border-width: 1px;
  border-color: $gray-lighter;
  h1 {
    font-weight: 200;
    margin-bottom: 10%;
  }

  .button {
    width: 200px;
    length: 400px;
    border-style: none;
    margin-top: 5%;
    margin-left: 30%;
  }
  .create-password {
    margin-left: 10%;
  }
}

/* Job_board */

.job-board {
  list-style: none;
  padding-top: 20px;
  li {
    background-color: white;
    overflow: auto;
    padding: 10px 0;
    border: 1px solid $gray-lighter;
    margin-bottom: 15px;
    margin-right: 50px;
    &:hover {
      background-color: #FFFFEE;
    }
  }
  #content {
    margin-left: 10px;
  }
}

.job-board-show {
  margin: -30px 30px 0px 30px;
  padding: 0 10px;
  img {
    display: block;
    margin: auto;
  }
  .section {
    padding-top: 50px;
  }
  .border {
    border-right: 1px solid $gray-lighter;
  }
  #bg-greyish-white {
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .button {
    height: 74px;
  }
}

.homepage {
  padding-left: auto;
  padding-right: auto;
  li {
    margin: 10px 10px 10px 10px;
    position: relative;
    list-style: none;
    width: 300px;
    height: 250px;
    // display: block;
    float: left;
    overflow: hidden;
  }
  .thumbnail {
    width: 300px;
    height: 220px;
    background-color: $white;
    margin-right: auto;
    margin-left: auto;
    border: 0.5px solid #ccc;
    border-radius: 0;
    img {
      margin-top: 5%;
      max-width: 220px;
      max-height: 200px;
    }
  }
  .user {
    position: absolute;
    left: 20px;
    top: 225px;
  }
  .icons {
    position: absolute;
    right: 40px;
    top: 195px;
  }
  .add_picture {
    position: absolute;
    right: 20px;
    top: 225px;
  }
}

.comment-section{
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid $gray-lighter;
  .comment {
    border-bottom: 1px solid $gray-lighter;
    word-wrap: break-word;
    .user-name {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    .time-ago {
      font-size: 10px;
    }
  }
}

// Login Form
.login {
}

// Register Form
.sign-up {
  .inline {
    padding-left: 10px;
    width: 103%;
  }
}

//nav bar
.nav {
  font-size: 1.3em;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.picture {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  .picture-container {
    border-left: 1px solid $gray-lighter;
  }
}
